body {
    background-image: url(../img/fundo.png);
    /* margin: 0;  */
    margin: auto;
    font-family: sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 25px;
}

/* HEADER */
.topo {
    position: sticky;
    top: 0;
    /* background-color: rgba(247, 92, 92, 0.993); */
    padding: 20px;
    background-color:#da4621;
    background-image: linear-gradient(rgb(207, 105, 105), rgb(211, 64, 64));
    margin: 0;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo, .login, .pesquisa{
    width: 33%;
}

.pesquisa{
    justify-content: center;
    margin-bottom: 0;
}

.login{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.logar a{
    margin-right: 10px;
    color: rgb(54, 45, 43);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 3px rgb(37, 43, 43);
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #da4621;
    background-image: linear-gradient(rgb(207, 105, 105), rgb(211, 64, 64));
    text-decoration: none;
}


.logar a:hover{
    background-image: linear-gradient(rgb(81, 85, 83), rgb(15, 7, 7));
    color: white;

}

.sacola{
    text-align: left;
}

.sacola img{
    width: 30px;
    padding-left: 10px;
}

.login p{
    margin: 0;
    padding: 0;
}

form{
    margin:0;
    padding:0;
    }

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/* BANNER */
.banner{
    text-align: center;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

header img {
    width: 250px;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 10;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
}

.menu li{
    display: inline;
}

.menu a {
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: double;
}

.menu a:hover {
    background-color: #111;
}

/* PRINCIPAL */

.principal {
    /* background-color: white; */
    /* margin-left: 10%;
    margin-right: 10%; */
    margin: auto;
    font-family: sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 25px;
}

.principal p {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px 10px;
    font-family: sans-serif;
    /* font-size: 16px; */
    color: #444;
    line-height: 25px;
    text-align: center;

}

.principal h1 {
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px 50px;
    font-family: sans-serif;
    color: #444;
    text-align: center;
}
.principal p img{
    align-self: center;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin: 50px auto;
}

.block {
    width: calc(100%/3 - 20px);
    margin: 9px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
}

.block-img {
    height: calc(((100vw - (100vw - 900px))/3 - 20px) /2);
}

.block-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-desc {
    padding: 15px;
    flex-grow: 1;
}

.block-link {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.block-link a {
    color: #494949;
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    transition: 0.1s ease;
}

.block-link a:hover {
    background-color: #ccc;
    color: #fff;
}

.tituloProduto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.preco{
    font-size: 40px;
}

.compras{
    display: flex;
    flex-wrap: nowrap;

}

.figura{
    width: 40%;

}


/* PRODUTO */

.compras{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
}

.compras .imagem, .venda{
    width: 500px;
}

.compras .descricao{
    width: 1000px;
}

.imagem{
    text-align: center;
}

.imagem img{
    width: 80%;
}

.venda{
    margin-right: 10px;
    margin-left: 10px;
}

.descricao{
    text-align: center;
}

hr{
    margin-bottom: 30px;
}

.venda h2{
    color: rgb(238, 48, 14);
}

.venda p{
    text-align: left;
    margin: 0;
    padding-left: 0px;
    font-weight: 600;

}

.venda .codigo{
    font-size: 12px;
}

.venda .valorRiscado{
    font-size: 20px;
    text-decoration: line-through;
    padding-bottom: 20px;
}

.venda .valorOriginal{
    font-size: 50px;
    padding-bottom: 20px;
}

.venda input[type=number] {
    /* float: left; */
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

    text-align: center;
    border: solid 1px #979090;
    border-radius: 10px;
}

.venda input[type=submit] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(rgb(207, 105, 105), rgb(211, 64, 64));
    border-radius: 10px;
    cursor: pointer;
    margin-left: -1px;
    height: 50px;
}

.venda input[type=submit]:hover{
    background-image: linear-gradient(rgb(211, 64, 64), rgb(207, 105, 105));
}

.descricao hr{
    width: 40%;
}

.pessoas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    margin: 0;
    padding: 0;
    
}

.pessoas h1{
    background-color: aqua;
}
.pessoas img{
    width: 300px;
    margin: 20px;
    opacity: 0.5;
    /* display: initial;
    position: relative; */
    border: solid 5px rgba(248, 245, 246, 0);
    border-radius: 10px;
    
 }

 .pessoas img:hover{
    opacity: 1;
    border: solid 5px crimson;
    border-radius: 10px;
 }

.msgJoao{
    display: none;
    align-content: left;
    background-color: #fff;
    opacity: 1;
    text-align: justify;
    border: solid 5px crimson;
    border-radius: 10px;

    width: 800px;
    margin-left: 15%;
    margin-right: 300px; 
    padding: 10px;
}

.msgEdu{
     display: none;
     align-content: center;
     background-color: #fff;
     opacity: 1;
     text-align: justify;
     border: solid 5px crimson;
     border-radius: 10px;
     margin-left: 20%;
     margin-right: 20%;
     padding: 10px;
}

.msgVlad{
     display: none;
     align-content: center;
     background-color: #fff;
     opacity: 1;
     text-align: justify;
     border: solid 5px crimson;
     border-radius: 10px;
     margin-left: 30%;
     margin-right: 15%;
     padding: 10px;
}

/* FOOTER */
.rodape{
    border: 2px solid rgb(250, 4, 4);
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 14px;
}