body {
    background-image: url(../img/fundo.png);
    margin: 0;
}

.banner{
    background-color: #e70f00a6;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.banner img {
    width: 600px;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 10;
    text-align: center;
    overflow: hidden;
    background-color: #333;
}
.menu li{
    display: inline;
}

.menu a {
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: double;
}

.menu a:hover {
    background-color: #111;
}