body{
    background-image: url("../img/fundo.png")
}

header {
   
    margin: 13px;
    padding-left: 30px;
    padding-right: 30px;
}

.flex-container{
    display: flex;
    justify-content: center;
    background-color: rgba(231, 8, 8, 0.842);
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }
  
  .menu li {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .menu li a:hover {
    background-color: #111;
    color: #fff;
  }